In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier
from imblearn.over_sampling import ADASYN, SMOTE, RandomOverSampler
from sklearn.svm import LinearSVC

In [3]:
train_data = pd.read_csv('Data/processed_data.csv')
train_data.dropna(inplace=True)
train_data.head()

   tweet_id                                              tweet  sentiment
0      1701  sxswnui sxsw apple defining language touch wit...          1
1      1851  learning about google doodles all doodles shou...          1
2      2689  one the most -your-face stealing the show year...          2
3      4525  this iphone sxsw app would pretty awesome didn...          0
4      3604  line outside the apple store austin waiting fo...          1

In [4]:
pipeline_sgd = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf',  TfidfTransformer()),
    ('nb', SGDClassifier()),
])

In [5]:
train_data['sentiment'].value_counts()

1    4309
2    2382
0     456
3     125
Name: sentiment, dtype: int64

In [330]:
# tfidf_vectorizer = TfidfVectorizer()
# X = tfidf_vectorizer.fit_transform(train_data['tweet'])

In [6]:
count_vectorizer = CountVectorizer(ngram_range=(1, 3))
X = count_vectorizer.fit_transform(train_data['tweet'])

In [8]:
X.shape

(7272, 98393)

In [9]:
ros = RandomOverSampler(random_state=3)
data_res, label_res = ros.fit_sample(X, train_data['sentiment'])

In [10]:
# smt = SMOTE(random_state=777, k_neighbors=1)
# data_res, label_res = smt.fit_sample(X, train_data['sentiment'])

In [11]:
data_res.shape

(17236, 98393)

In [12]:
label_res.shape

(17236,)

In [13]:
# model = pipeline_sgd.fit(data_res, label_res)

In [14]:
test_data = pd.read_csv('data/test_processed_data.csv')
test_data.head()

   tweet_id                                              tweet
0      7506  audience what prototyping tools you use sketch...
1      7992  sxsw send your best photos videos .. link citi...
2       247  and here pic you winning your ipad unsix sxsw ...
3      7688  google marissa mayer mobile phone cursor physi...
4      3294          sxsw google maps even cooler than thought

In [15]:
# svc_pred = model.predict(test_withstop['tweet'])

In [16]:
X_test = count_vectorizer.transform(test_data['tweet'])

In [17]:
X_test.shape

(1819, 98393)

In [18]:
#fit and predict on upsampled data
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression(max_iter=7600)
lr_model.fit(data_res, label_res)
lr_pred = lr_model.predict(X_test)

In [23]:
svc = LinearSVC(penalty='l2', C=0.5, dual=False, random_state=0, max_iter=1000)
svc.fit(X, train_data['sentiment'])
svc_pred = svc.predict(X_test)
svc_pred

array([1, 1, 1, ..., 2, 2, 1], dtype=int64)

In [21]:
to_submit = pd.DataFrame({'tweet_id': test_data['tweet_id'], 'sentiment': lr_pred})
to_submit.to_csv('Data/solutions_lr_undersample.csv', index=False)
to_submit.head()

   tweet_id  sentiment
0      7506          1
1      7992          1
2       247          1
3      7688          2
4      3294          2

In [24]:
to_submit = pd.DataFrame({'tweet_id': test_data['tweet_id'], 'sentiment': svc_pred})
to_submit.to_csv('Data/solutions_svc_upsampled_lemmatized.csv', index=False)
to_submit.head()

   tweet_id  sentiment
0      7506          1
1      7992          1
2       247          1
3      7688          2
4      3294          1

In [ ]:
# to_submit = pd.DataFrame({'tweet_id': test_withstop['tweet_id'], 'sentiment': svc_pred})
# to_submit.to_csv('solutions_svc_pred_withstop.csv', index=False)
# to_submit.head()